<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.peihao.chuanchuan" >

<application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".splash"
            android:label="叉叉烧" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Record_Activity"
            android:label="@string/title_activity_record_" >
        </activity>
        <activity
            android:name=".Record2_Activity"
            android:label="@string/title_activity_record2_" >
        </activity>
        <activity
            android:name=".Record3_Activity"
            android:label="@string/title_activity_record3_" >
        </activity>
    </application>

</manifest>